html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#screenTerminal {
    position:absolute;

    height: calc(100% - 60px);
    width: calc(100% - 20px);
    margin: 0 auto -40px;

    padding: 10px;

    background-color: #ffffff;
}

#terminalOutput {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 10px;
    overflow-y: auto;
    /* this is the key */
    max-height: 100%;
    margin: 0;
    padding-bottom: 10px;

    font-family: "Courier New", "Arial", sans-serif;
}

#screenFooter {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;

    box-shadow: 5px 0 0 0 rgba(0, 0, 0, 0.2), 0 -1px 5px 0 rgba(0, 0, 0, 0.19);
    background-color: #ffffff;
}

#terminalInput {
    height: 38px;
    width: 100%;
    border: 0;
    padding: 0 10px;
}

#terminalSubmit {
    height: 38px;
    width: 20%;
    border: 0;

    float: right;
    background-color: #d9d9d9;
}

#terminalSubmit:hover {
    background-color: #c9c9c9;
    cursor: pointer;
}